.background {
    background: rgba(0, 0, 0, 0.7) url(../common//bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
    height: 540px;
    max-height: 75vw;
    overflow: hidden;

}