body {
    Font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
    /* text-align: left; */
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.background {
    background: rgba(0, 0, 0, 0.7) url(../common//herbal-vitamin.jpg);
    background-size: cover;
    background-blend-mode: darken;
    height: 540px;
    max-height: 40vw;
    overflow: hidden;
    /* background-repeat: no-repeat; */
    /* background-repeat: unset; */
    background-position: center;
}

.productItems {
    display: flex;
    flex-direction: column;
    border-bottom-style: groove;

}



.productTitle {
    font-size: 3vw;
    font-weight: 600;
    color: blueviolet;
}

.prodictSubContainer {
    display: flex;
    margin: auto;
    width: 80%;
    padding: 8px;
}

img.productItemImage {
    max-width: 33%;
    width: 33%;
    max-height: 300px;
    padding: 8px 0px;
}

.productDescription {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    margin: 8px 32px;
}

.productDescriptionHead {
    font-size: 18px;
    font-weight: 600;
}

.productBenifits ul {
    margin-left: 30px;
}

p.descpalmner {
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

@media screen and (max-width: 592px){
    .background {
        background: rgba(0, 0, 0, 0.7) url(../common//herbal-vitamin.jpg);
        background-size: cover;
        background-blend-mode: darken;
        height: 800px;
        max-height: 70vw;
        overflow-x: auto;
        overflow-y: hidden;
    }
}